<?xml version="1.0" encoding="UTF-8"?>
<config>
    <fieldset name="general" label="COM_REDIRECTFIXER_CONFIG_GENERAL_SETTINGS">
        <field
            name="malformed_urls"
            type="radio"
            layout="joomla.form.field.radio.switcher"
            label="COM_REDIRECTFIXER_CONFIG_MALFORMED_URLS_LABEL"
            description="COM_REDIRECTFIXER_CONFIG_MALFORMED_URLS_DESCRIPTION"
            class="btn-group"
            default="ignore"
        >
            <option value="ignore">COM_REDIRECTFIXER_CONFIG_MALFORMED_URLS_IGNORE</option>
            <option value="check">COM_REDIRECTFIXER_CONFIG_MALFORMED_URLS_CHECK</option>
        </field>
    </fieldset>
    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >
    </fieldset>
</config>